<form action="/create_check_in" method="post" enctype="multipart/form-data">

  <input type="hidden" name="owner_id" value="<%= @user.id %>">

  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :created_at, @check_in.location_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="image">
      Image
    </label>

    <input type="file" id="image" name="image" class="form-control">
  </div>

  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <textarea id="caption" name="caption" class="form-control" rows="3"><%= @check_in.caption %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create check in
  </button>
</form>
