<% if @location.present? %>
  <% if @location.errors.any? %>
    <% @location.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new location
</h1>


<hr>

<form action="/create_location" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="address">
      Address
    </label>

    <input type="text" id="address" name="address" class="form-control" value="<%= @location.address %>">
  </div>

  <div class="form-group">
    <label for="image">
      Image
    </label>

    <input type="file" id="image" name="image" class="form-control">
  </div>

  <div class="form-group">
    <label for="bio">
      Bio
    </label>

    <textarea id="bio" name="bio" class="form-control" rows="3"><%= @location.bio %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create location
  </button>
</form>

<hr>

<a href="/locations">
  Go back
</a>
