<!-- Validation failure messages -->
<% if @location.present? %>
  <% if @location.errors.any? %>
    <% @location.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new location
</h1>


<hr>

<!-- Form location start -->
<form action="/create_location" method="post" enctype="multipart/form-data">
<!-- Form location end -->

  <!-- Label and input for address start -->
  <div class="form-group">
    <label for="address">
      Address
    </label>

    <!-- Input for address start -->
    <input type="text" id="address" name="address" class="form-control" value="<%= @location.address %>">
    <!-- Input for address end -->
  </div>
  <!-- Label and input for address end -->

  <!-- Label and input for image start -->
  <div class="form-group">
    <label for="image">
      Image
    </label>

    <!-- Input for image start -->
    <input type="file" id="image" name="image" class="form-control">
    <!-- Input for image end -->
  </div>
  <!-- Label and input for image end -->

  <!-- Label and input for bio start -->
  <div class="form-group">
    <label for="bio">
      Bio
    </label>

    <!-- Input for bio start -->
    <textarea id="bio" name="bio" class="form-control" rows="3"><%= @location.bio %></textarea>
    <!-- Input for bio end -->
  </div>
  <!-- Label and input for bio end -->

  <button class="btn btn-block btn-outline-secondary">
    Create location
  </button>
</form>

<hr>

<a href="/locations">
  Go back
</a>
