<% if @check_in.present? %>
  <% if @check_in.errors.any? %>
    <% @check_in.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new check in
</h1>


<hr>

<form action="/create_check_in" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="owner_id">
      Owner
    </label>

    <%= select_tag(:owner_id, options_from_collection_for_select(User.all, :id, :email, @check_in.owner_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :created_at, @check_in.location_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="image">
      Image
    </label>

    <input type="file" id="image" name="image" class="form-control">
  </div>

  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <textarea id="caption" name="caption" class="form-control" rows="3"><%= @check_in.caption %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create check in
  </button>
</form>

<hr>

<a href="/check_ins">
  Go back
</a>
